<% if caption.to_s.empty? %>

  <figure id="<%= id %>" class="<%= klass %>">
    <% if link.to_s.empty? %>
      <img src="<%= embed_id %>" />
    <% else %>
      <a href="<%= link %>"><img src="<%= embed_id %>" /></a>
    <% end %>
  </figure>

<% else %>

  <figure id="<%= id %>" class="<%= klass %>">
    <% if link.to_s.empty? %>
      <img src="<%= embed_id %>" />
    <% else %>
      <a href="<%= link %>">
        <img src="<%= embed_id %>" />
      </a>
    <% end %>

    <figcaption><%= MarkdownMedia.render_markdown caption %></figcaption>
  </figure>

<% end %>
